# Cache files
__pycache__/
.pytest_cache/
.ruff_cache

# Virtual environments
.venv

# Environment files
.env
.env.local
.env.*.local

# Database files
*.db
*.sqlite
*.sqlite3

# Others
.python-version
project_requirement.md
.vscode/
uv.lock
.DS_Store
Check_List.txt